
section.success {
  background: #2C3E50;
  color: white;

}


header .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-group {
    padding:10px;
}

counterclass {
    max-width:100px;
}
