{% extends "baselayout.html" %}

{% block content %}
<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> !-->

<section>
<h3>Enter Circuit Data: <font color="primary"> {{current_user.nickname }} </font> </h3>

<div class="row jumbotron ">

 <img class="col-xs-12 col-md-6  img-responsive"  src="{{ url_for('static', filename ="img/boulderwall.jpg")}}" />

<div class="col-xs-12 col-md-6 jumbotron" id="boulder">
<div class="container">
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


<form class="form-group" method="POST" action="/circuits">
    {{ form.csrf_token }}
<div class="form-group"> <font color="secondary"> {{ form.grade.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6">{{ form.grade(class_="form-control") }} </div>
</div>
<div class="form-group" > <font color="primary"> {{  form.numberofmoves.label(class_="col-xs-6 control-label") }} </font>
<div class="col-xs-6"> {{ form.numberofmoves(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="secondary"> {{ form.intensity.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6"> {{ form.intensity(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="primary"> {{ form.werktime.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6"> {{form.werktime(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="secondary"> {{ form.comments.label(class_="col-xs-6 control-label")}} </font>
<div class="col-xs-6"> {{ form.comments(class_="form-control")}} </div>
</div>

<input class="btn btn-primary" type="submit" value="Submit Data">
</form>

</div>

</div>

</div>



</section>

<section class="jumbotron" id="database_return">
<div class="container">
    {% for circuits in circuits %}
    <div class="row">
    {{ circuits.name, circuits.grade, circuits.werktime, circuits.reps  }}
    </div>
    {% endfor %}
</div>
</section>

{% endblock %}