{% extends "baselayout.html" %}

{% block content %}


<section>
<div class="container"> 

<h3>Circuit Data: <font color="primary"> {{current_user.nickname }} </font> </h3>
</div>
<div class="row jumbotron ">

 <img class="col-xs-12 col-md-6" class="img-responsive"  src="{{ url_for('static', filename ="img/boulderwall.jpg")}}" />

<div class="col-xs-12 col-md-6 jumbotron" id="boulder">
<div class="container">
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="container">
  <h4 align="center">Instructions:
  <!-- Trigger the modal with a link -->
<a data-toggle="modal" href="#myModal"><font color="primary">  Click Here </font></a></h4>
  <!-- Modal -->
  <div class="modal fade active" data-backdrop="false" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 align="center" class="modal-title">Log Circuit Werk</h4>
        </div>
        <div class="modal-body">
          <p> Enter your circuit grade (french route grade) </p>
          <p> Enter the total number of moves completed</p>
          <p> Select intensity level </br> 1 = easy  5 = boxed out of your brains! </p>
          <p> Add qualitative comments about venue, style, route setting, angle, mood etc and submit data</p>
          <p> Access your profile page & see werkout history!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<form class="form-group" method="POST" action="/circuits">
    {{ form.csrf_token }}
<div class="form-group"> <font color="secondary"> {{ form.grade.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6">{{ form.grade(class_="form-control") }} </div>
</div>
<div class="form-group" > <font color="primary"> {{  form.numberofmoves.label(class_="col-xs-6 control-label") }} </font>
<div class="col-xs-6"> {{ form.numberofmoves(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="secondary"> {{ form.intensity.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6"> {{ form.intensity(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="primary"> {{ form.werktime.label(class_="col-xs-6 control-label")}}
<div class="col-xs-6"> {{form.werktime(class_="form-control")}} </div>
</div>

<div class="form-group"> <font color="secondary"> {{ form.comments.label(class_="col-xs-6 control-label")}} </font>
<div class="col-xs-6"> {{ form.comments(class_="form-control")}} </div>
</div>

<input class="btn btn-primary" type="submit" value="Submit Data">
</form>

</div>

</div>

</div>



</section>



</section>


{% endblock %}


<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> !-->
<!--<section class="jumbotron" id="database_return">-->
<!--<div class="container">-->
<!--    {% for circuits in circuits %}-->
<!--    <div class="row">-->
<!--    {{ circuits.name, circuits.grade, circuits.werktime, circuits.reps  }}-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--</section>-->
