{% extends "baselayout.html" %}

{% block content %}

<section>



<div class="container">
  <h3 align="center">Instructions:
  <!-- Trigger the modal with a link -->
<a data-toggle="modal" href="#myModal">  <font color="primary"> Click Here </font> </a></h3>
  <!-- Modal -->
  <div class="modal fade active" data-backdrop="false" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 align="center" class="modal-title">Data Analysis Options</h4>
        </div>
        <div class="modal-body">
          <p> Toggle buttons on/off to showhide the different data tables</p>
          <p> More charts will be added once feedback is collected so get in touch for specific feature requests lukejjmaggs@gmail.com </p>
          <p> For now if you want a full analysis options, just grab the full Excel export of all your training data!</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <div class="container">
        <div class="col-xs-12">
            <div class="well">
               <h4> Training Data: <font color="primary"> Tables </font> </h4>

                <button type="button" id="L4" class="btn btn-primary  btn-xs ">Hang</button>
                <button type="button" id="L3" class="btn btn-success  btn-xs">Route</button>
                <button type="button" id="L2" class="btn btn-info  btn-xs">Kampus</button>
                <button type="button" id="L1" class="btn btn-warning  btn-xs">Circuit</button>
                <button type="button" id="L0" class="btn btn-danger  btn-xs">Blocs</button>
                &nbsp;&nbsp;
                <div class="allTables" id="ToggleTables">
                    <div class="table-responsive" id="hangboardTable" style="display:none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <h5> Board Used </h5></th>
                                    <th>
                                        <h5> Hold No. </h5></th>
                                    <th>
                                        <h5> Arms </h5></th>
                                    <th>
                                        <h5> Reps (s) </h5></th>
                                    <th>
                                        <h5> Rest (s)</h5></th>
                                    <th>
                                        <h5> Date </h5></th>
                                    <th>
                                        <h5> Weight -+ (Kg) </h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="clear" id="board"> </td>
                                    <td class="clear" id="hold_used"> </td>
                                    <td class="clear" id="arm_used"> </td>
                                    <td class="clear" id="reps"> </td>
                                    <td class="clear" id="rest"> </td>
                                    <td class="clear" id="date"> </td>
                                    <td class="clear" id="weight"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" id="routesTable" style="display:none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <h5> Grade</h5></th>
                                    <th>
                                        <h5> Height</h5></th>
                                    <th>
                                        <h5> Intensity Lv </h5></th>
                                    <th>
                                        <h5> Style </h5></th>
                                    <th>
                                        <h5> Date </h5></th>
                                    <th>
                                        <h5> Angle </h5></th>
                                    <th>
                                        <h5> Duration </h5></th>
                                    <th>
                                        <h5> Venue </h5></th>

                                      <th>
                                        <h5> Comments </h5></th>
   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="clear" id="grade"> </td>
                                    <td class="clear" id="height"> </td>
                                    <td class="clear" id="intensity"> </td>
                                    <td class="clear" id="style"> </td>
                                    <td class="clear" id="dateroutes"> </td>
                                    <td class="clear" id="venue"> </td>
                                    <td class="clear" id="duration"> </td>
                                    <td class="clear" id="angle"> </td>
                                    <td class="clear" id="routescomments"> </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" id="kampusTable" style="display:none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <h5> Kampus Sequence</h5></th>
                                    <th>
                                        <h5> Date</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="clear" id="kampuslog"> </td>
                                    <td class="clear" id="datekampus"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" id="circuitsTable" style="display:none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <h5> Grade</h5></th>
                                    <th>
                                        <h5> Date</h5></th>
                                    <th>
                                        <h5> Move No. </h5></th>
                                    <th>
                                        <h5> Intensity </h5></th>
                                    <th>
                                        <h5> Duration </h5></th>
                                    <th>
                                        <h5> Comments </h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="clear" id="circuitsgrade"> </td>
                                    <td class="clear" id="datecircuits"> </td>
                                    <td class="clear" id="numberofmoves"> </td>
                                    <td class="clear" id="circuitintensity"> </td>
                                    <td class="clear" id="circuitduration"> </td>
                                    <td class="clear" id="circuitcomments"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" id="blocTable" style="display:none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <h5> Grade</h5></th>
                                    <th>
                                        <h5> Intensity Lv </h5></th>
                                    <th>
                                        <h5> Style </h5></th>
                                    <th>
                                        <h5> Date </h5></th>
                                    <th>
                                        <h5> Angle </h5></th>
                                    <th>
                                        <h5> Duration </h5></th>
                                    <th>
                                        <h5> Venue </h5></th>
                                    <th>
                                        <h5> Comments </h5></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="clear" id="blocgrade"> </td>
                                    <td class="clear" id="blocintensity"> </td>
                                    <td class="clear" id="blocstyle"> </td>
                                    <td class="clear" id="datebloc"> </td>
                                    <td class="clear" id="blocvenue"> </td>
                                    <td class="clear" id="blocduration"> </td>
                                    <td class="clear" id="blocangle"> </td>
                                    <td class="clear" id="bloccomments"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12">
            <div class="well">
                <h4> Training Data: <font color="primary"> Charts </font> </h4>

                <!-- <button type="button" id="L4chart" class="btn btn-primary  btn-sm ">Hang</button>
                <button type="button" id="L3chart" class="btn btn-success  btn-sm">Route</button>
                <button type="button" id="L2chart" class="btn btn-info  btn-sm">Kampus</button>
                <button type="button" id="L1chart" class="btn btn-warning  btn-sm">Circuit</button>
                <button type="button" id="L0chart" class="btn btn-danger  btn-sm">Blocs</button>
                &nbsp;&nbsp; -->
                <button type="button" id="chart" class="btn btn-danger">Chart</button>
                <canvas id="ChartT2"></canvas>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12">
            <div class="well">
                <h4> Training Export: <font color="primary"> Excel  </font> </h4>

                <button onclick="location.href='/export/hangboard ';" type="button" id="E4" class="btn btn-primary  btn-xs ">Hang</button>
                <button onclick="location.href='/export/routes ';" type="button" id="E3" class="btn btn-success  btn-xs">Route</button>
                <button onclick="location.href='/export/kampus ';" type="button" id="E2" class="btn btn-info  btn-xs">Kampus</button>
                <button onclick="location.href='/export/circuits ';" type="button" id="E1" class="btn btn-warning  btn-xs">Circuit</button>
                <button onclick="location.href='/export/blocs ';" type="button" id="E0" class="btn btn-danger  btn-xs">Blocs</button>
                &nbsp;&nbsp;
            </div>
        </div>
    </div>

</section>
<footer> Data = Power </footer>

<script type="text/javascript" src="/static/js/profile.js"></script>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script> 

<script>



var hangsessions = $.getJSON("/data/hangboard", function(data) {
        hangsessions = data.length;
    });


var routesessions = $.getJSON("/data/routes", function(data) {
        routesessions = data.length;
    });



var kampussessions = $.getJSON("/data/kampus", function(data) {
        kampussessions = data.length;
    });

var circuitsessions = $.getJSON("/data/circuits", function(data) {
        circuitsessions = data.length;
    });

var blocsessions = $.getJSON("/data/blocs", function(data) {
        blocsessions = data.length;
    });

var hangboardSessions
$("#chart").click(function() {
    

    

      var ctx = document.getElementById("ChartT2");
      var ChartT2 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Hang", "Routes", "Kampus", "Circuits", "Blocs"],
          datasets: [{
            label: 'total sessions',
            data: [hangsessions, routesessions, kampussessions, circuitsessions, blocsessions],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
  



</script>



{% endblock %}


