{% extends "baselayout.html" %}

{% block content %}

<section>
<div class="container">
<style> {
    border:none !important;
    outline:none !important;
}
</style>
<h3 align="center">Kampuswerk: <font color="primary"> {{current_user.nickname }} </font> </h3>
</div>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}




<div class="container">
<h4></h4>
   <div class="row">

        <div class="btn-group-vertical col-xs-12 button-wrapper"  >

              <button type="button" id="L4" class="btn btn-primary"  >Hangboard Data</button>

              <button type="button" id="L3" class="btn btn-success  ">Routes Data</button>
              <button type="button" id="L2" class="btn btn-info  ">Kampus Data</button>
              <button type="button" id="L1" class="btn btn-warning   ">Circuits Data</button>
              <button type="button" id="L0" class="btn btn-danger ">Blocs Data</button>&nbsp;&nbsp;
        </div>
    </div>
</div>

<div class="containter">
<div class="container" style="display:none" id="KampusTable">
  <h4> <font color="#5bc0de" style="text-align:center">Kampus Werk Data </font> </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> <font color="#5bc0de"> Name</font></th>
        <th><font color="#5bc0de"> Kampus Sequence</font></th>
        <th> <font color="#5bc0de">Date/Time </font></th>
      </tr>
    </thead>
        {% for kampus in kampus %}
    <tbody>
      <tr>
        <td>{{kampus.name}}</td>
        <td>{{kampus.kampuslog}}</td>
        <td>{{kampus.timestamp}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div></div>
</div>
</div>
<div class="container" style="display:none" id="HangboardTable">
  <h4> <font color="#2C3E50" style="text-align:center"> Hangboard Werk Data </font> </h4>
  <table class="table table-striped">
    <thead>
      <tr> <font color="#2C3E50">
        <th><font color="#2C3E50"> Board</font></th>
        <th> <font color="#2C3E50">Arm</font></th>
        <th> <font color="#2C3E50">Hold</font></th>
        <th> <font color="#2C3E50">Reps</font></th>
        <th> <font color="#2C3E50">Hang </font></th>
        <th> <font color="#2C3E50">Rest </font></th>
        <th> <font color="#2C3E50">KG</font></th>
      </tr>  </font>
    </thead>
        {% for hangboard in hangboard %}
    <tbody>
      <tr>
        <td>{{hangboard.board}}</td>
        <td>{{hangboard.arm_used}}</td>
        <td>{{hangboard.holds_used}}</td>
        <td>{{hangboard.reps}}</td>
        <td>{{hangboard.hangtime}}</td>
        <td>{{hangboard.resttime}}</td>
        <td>{{hangboard.weight_kg}}</td>
      </tr></tbody></tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div class="container" style="display:none" id="CircuitTable">
  <h4> <font color="#f0ad4e" style="text-align:center"> Circuit Werk Data </font> </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> <font color="#f0ad4e">Moves</font></th>
        <th><font color="#f0ad4e"> Intensity</font></th>
        <th> <font color="#f0ad4e">Grade</font></th>
        <th> <font color="#f0ad4e">Duration</font></th>
        <th> <font color="#f0ad4e">Date</font></th>
      </tr>
    </thead>
        {% for circuitmoves in circuitmoves %}
    <tbody>
      <tr>
        <td>{{circuitmoves.numberofmoves}}</td>
        <td>{{circuitmoves.intensity}}</td>
        <td>{{circuitmoves.grade}}</td>
        <td>{{circuitmoves.werktime}}</td>
        <td>{{circuitmoves.timestamp}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div></thead></table></div>

<div class="container" style="display:none" id="RouteTable">
  <h4> <font color="#18BC9C" style="text-align:center">Route Werk Data </font> </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><font color="#18BC9C"> Height</font></th>
        <th> <font color="#18BC9C">Intensity</font></th>
        <th> <font color="#18BC9C">Duration</font></th>
        <th> <font color="#18BC9C">Grade</font></th>
        <th> <font color="#18BC9C">Angle</font></th>
        <th> <font color="#18BC9C">Date</font></th>
      </tr>
    </thead>
        {% for routes in routes %}
    <tbody>
      <tr>
        <td>{{routes.height}}</td>
        <td>{{routes.intensity}}</td>
        <td>{{routes.werktime}}</td>
        <td>{{routes.grade}}</td>
        <td>{{routes.venue}}</td>
        <td>{{routes.timestamp}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="container" style="display:none" id="BlocTable">
  <h4> <font color="#d9534f" style="text-align:center"> Bloc Werk Data </font> </h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> <font color="#d9534f">Grade </font></th>
        <th> <font color="#d9534f">Venue</font></th>
        <th> <font color="#d9534f">Intensity</font></th>
        <th> <font color="#d9534f">Angle</font></th>
        <th> <font color="#d9534f">Style</font></th>
        <th> <font color="#d9534f">Date </font></th>
      </tr>
    </thead>
        {% for blocs in blocs %}
    <tbody>
      <tr>
        <td>{{blocs.grade}}</td>
        <td>{{blocs.angle}}</td>
        <td>{{blocs.intensity}}</td>
        <td>{{blocs.venue}}</td>
        <td>{{blocs.style}}</td>
        <td>{{blocs.timestamp}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
<div class="container">
  <h3 align="center">Instructions:
  <!-- Trigger the modal with a link -->
<a data-toggle="modal" href="#myModal">  <font color="primary"> Click Here </font> </a></h3>
  <!-- Modal -->
  <div class="modal fade active" data-backdrop="false" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 align="center" class="modal-title">Log Circuit Werk</h4>
        </div>
        <div class="modal-body">
          <p> Toggle buttons on/off to show/hide the different data tables</p>
          <p> Currently not all the data is displayed</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
</section>
<footer> Data = Power </footer>

<script>

$(document).ready(function()
{
    $("#L4").click(function()
    {
        $("#HangboardTable").toggle();
    });
});

$(document).ready(function()
{
    $("#L3").click(function()
    {
        $("#RouteTable").toggle();
    });
});

$(document).ready(function()
{
    $("#L2").click(function()
    {
        $("#KampusTable").toggle();
    });
});

$(document).ready(function()
{
    $("#L1").click(function()
    {
        $("#CircuitTable").toggle();
    });
});

$(document).ready(function()
{
    $("#L0").click(function()
    {
        $("#BlocTable").toggle();
    });
});

</script>



{% endblock %}


