  {% extends "baselayout.html" %}

{% block content %}
<br> <br>
<html lang="en">
<head>

  <title>1 Minute Hangboard Routine</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>



  <div id="welcome">
    <h2>Hangboard Werk<h2>
    <button id="start">Start</button>

    <h2><font color="#2c3e50">User:</font><font color="white"> {{current_user.nickname}} </font> </h2>

    <p>Time driven intensity hangboard session</p>
    <p>Board Used: <font color="#2c3e50">{{ board }}</font> </p>
    <p>Hold No. Used: <font color="#2c3e50">{{ holds_used}}</font></p>

    <p>Hangtime: <font color="#2c3e50">{{ hangtime}}</font> seconds</p>
    <p>Restime: <font color="#2c3e50">{{ resttime }}</font> seconds </p>
    <p>Hands Used: <font color="#2c3e50">{{ arm_used }}</font> </p>
    <p>Reps: <font color="#2c3e50">{{ reps }}</font> repetions</p>
    <p>Sets: <font color="#2c3e50">{{ sets }}</font> cycles </p>
    <p>Rest Between Sets: <font color="#2c3e50">{{ setrest }}</font></p>

    <H2> Don't be weak</h2>
    <hr>

  </div>
  <br>
  <div id="counter"></div></div>
  <div id="description"></div>
  <div id="controls">
    <button id="reset">Reset</button><button id="skip">Skip</button>
  </div>

<div class="container">
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

</div>
<script>

var prepInterval = 13
var workInterval = "{{hangtime}}"
var restInterval = "{{resttime}}"
var exerciseReps = "{{reps}}"
var sets = "{{ sets }}"
var setrest = "{{ setrest }}"
</script>

  <script src={{ url_for('static', filename='js/fitness.js') }}></script>


</body>
</html>

{% endblock %}


